.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
} 
@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.stretchChildrenWidth{
  width: 100% !important;
 }
.flexRowContent--firstscroll{
  flex-direction: column;
  align-items: center; 
  position: relative;
  max-width: 1920px;
  width: 100%;
  max-height: 970px;
  height: 970px;
  padding-top: 10%;
  margin-bottom: 80px; 
}
.flexRow--thirdsession{
  max-width: 1340px;
  max-height: 630px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.flexRowContent--thirdsession{ 
  align-items: center; 
  position: relative;
  max-width: 1340px;
  max-height: 630px; 
  margin: 0 auto 140px auto;
}
.flexCol--thirdsession-col{ 
  align-items: flex-start; 
  position: relative; 
  padding: 100px;
  z-index: 0;
}

.flexRowContent--thirdsession .stretchChildrenWidth{
  width: auto !important;
 } 
.flexRowContent--thirdsession { 
  align-items: center; 
  position: relative;
  max-width: 1340px;
  max-height: 630px; 
  margin: 0 auto 140px auto;
  background: #FAFAFA;
}
.flexRowContent--fourthsession { 
  align-items: center; 
  position: relative;
  max-width: 1340px;
  max-height: 630px; 
  margin: 0 auto 140px auto;
  background: #FAFAFA;
}
.flexRowContent--fourthsession .stretchChildrenWidth{
  width: auto !important;
 }
.flexCol--fourthsession-col{ 
  align-items: flex-start; 
  position: absolute; 
  right: 20px;
  top: 20px;
  padding: 130px 55px 80px;
  background: #F8F8F8CC;
  backdrop-filter: blur(50px);
  max-width: 670px;
  width: 670px;
  height: 590px; 
  z-index: 2; 
}
.flexRowContent--fitfhsession { 
  align-items: center; 
  position: relative;
  min-width: 100%;
  min-height: 630px; 
  max-width: 1340px;
  max-height: 630px;
  margin: 0 auto 140px auto;
  width: 100%;
  justify-content: center;
}
.flexRowContent--fitfhsession .stretchChildrenWidth{
  width: auto !important;
 }
.flexCol--fitfhsession-col{ 
  align-items: flex-start; 
  position: relative;  
  margin: -90px 0 0 50px ; 
  min-width: 100%;
  max-width: 380px;
  width: 380px !important;
  height: 380px; 
  z-index: 2; 
}
.flexCol--fitfhsession-catalog{ 
  min-height: 550px;
  max-width: 820px ;
  position: relative;
  z-index: 2;
  overflow-x: scroll;
  overflow-y: visible;
  left: 45px;
  padding-top: 260px;
  min-width: 100%;
  width: 100% !important;
}
.flexRowContent--fitfhrow-catalog{
  width: 100%;
  height: 200px;
  display: flex;  
}
.flexRow--fitfhrow-catalog {
  width: 100%;
  height: 200px;
  display: flex;  
}
.flexCol--fitfhsession-catalog::-webkit-scrollbar {
  width: 736px;
  height: 5px; 
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040; 
}

/* Track */
.flexCol--fitfhsession-catalog::-webkit-scrollbar-track {
  background: #FFFFFF66;
  opacity: 40%;
  box-shadow: 0px 4px 4px 0px #00000040; 
  position: relative;
  bottom: 50px; 
  border-radius: 10px;
}

/* Handle */
.flexCol--fitfhsession-catalog::-webkit-scrollbar-thumb { 
  height: 5px;
  background-color: #b0b0b0;
  background-clip: padding-box;
  border: 0.05em solid #eeeeee;
  border-radius: 10px;
}

/* Handle on hover */
.flexCol--fitfhsession-catalog::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}
.flexCol--fitfhsession-catalog::-webkit-scrollbar-button {
  background-color: #bbbbbb00;
  display: block;
  border-style: solid;
  border-color: #bbbbbb00;
  height: 13px;
  width: 25px;
  opacity: 100%;
}

.flexRowContent--fitfhsession .flexRow--fitfhrow-catalog .stretchChildrenWidth{
  width: auto !important;
  margin: 0 10px 0px;
}

.flexRow--deals {
  background-color: #0F3E99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
.flexRowContent--videosess{
  max-width: 414px;
  width: 100%;
  height: 562px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}
@media screen and (max-width: 1367px) {
  .flexRowContent--firstscroll{
    height: auto;
    padding-top: 5%;
    margin-bottom: 250px;
  }  
}
@media screen and (max-width: 1000px) { 
  .flexRowContent--firstscroll{
    width: 100%;
    max-width: 980px;
    height: 856px;
    margin-bottom: 80px;
    padding-top: 10%;
  }
  .flexCol--thirdsession-col{
    padding:50px 30px 60px;
  }

  .flexRowContent--thirdsession{
    max-width: 880px;
    max-height: 630px;
    margin: 0 auto 80px auto;
  }
  .flexCol--thirdsession-col{
    max-width: 440px;
    padding: 50px 30px 80px;
  }
  .flexRowContent--fourthsession{
    max-width: 880px;
    max-height: 630px;
    margin: 0 auto 80px auto;
  }
  .flexCol--fourthsession-col{
    max-width: 440px;
    padding: 65px 30px 80px;
  }
  .flexRowContent--fitfhsession{
    align-items: center;
    position: relative;
    min-width: 100%;
    min-height: 630px;
    max-width: 880px;
    max-height: 630px;
    margin: 0 auto 80px  auto;
    justify-content: center;
  }   
  .flexCol--fitfhsession-catalog{
    min-height: 490px;
    min-width: 440px;
    max-width: 440px;
    position: relative;
    z-index: 2;
    overflow-x: scroll;
    overflow-y: visible;
    left: 10px;
    padding-top: 260px;
    width: 100% !important;
  }
  .flexCol--fitfhsession-col{
    margin: -90px 0 0 40px;
  } 
} 
@media screen and (max-width: 414px) {
  .flexRowContent--firstscroll{
    width: 100%;
    max-width: 414px;
    height: 768px;
    margin-bottom: 100px;
    padding-top: 20%;
  }
  .flexCol--thirdsession-col{
    padding:40px 20px 20px;
  }
  .flexColChild--second-subssesion:first-child{
    order: 1;
  } 
  .flexColChild--second-subssesion:last-child{
    order:2;
  }
  .flexRow--thirdsession{
    max-width: 414px;
    max-height: 876px;
  }
  .flexRowContent--thirdsession{
    max-width: 414px;
    height: 876px;
    max-height: 876px;
    margin: 0 auto 100px auto;
  }

  .flexCol--thirdsession-col{
    max-width: 414px;
    max-height: 876px;
    padding: 40px 20px 0px;
  }
  .flexRowContent--thirdsession{
    max-width: 414px;
    height: 876px;
    max-height: 876px;
    margin: 0 auto 100px auto;
  } 
  .flexRowContent--fourthsession{
    max-width: 414px;
    height: 630px;
    max-height: 630px;
    margin: 0 auto 100px auto;
  }
  .flexCol--fourthsession-col{
    max-width: 374px;
    max-height: 481px;
    height: 481px;
    padding: 65px 30px 80px;
    top: 70px;
  }
  .flexRowContent--fitfhsession{
    align-items: center;
    position: relative;
    min-width: 100%;
    min-height: 630px;
    max-width: 414px;
    max-height: 630px;
    margin: 0 auto 180px auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }   
  .flexRow--fitfhsession{
    margin-top: 200px;
  }
  .flexCol--fitfhsession-catalog{
    min-height: 457px;
    max-width: 414px; 
    min-width: 414px;
    position: static;
    z-index: 1;
    overflow-x: scroll;
    overflow-y: visible;
    left: 10px;
    padding-top: 50px!important;
    width:95%!important
  }
  .flexCol--fitfhsession-col{
    margin: 60px 0 0 0px;
    padding-left: 15px;
  } 
  .flexRow--fitfhrow-catalog{
    width: 374px;
    height: 457px;
    flex-wrap: nowrap;
    display: flex;

  }
  .flexRowContent--fitfhrow-catalog{
    width: 374px;
    height: 457px;
    flex-wrap: nowrap;
    display: flex;

  }
  .flexCol--fitfhsession-catalog::-webkit-scrollbar-button { 
    width: 8px; 
  }
  .flexRowContent--fitfhsession .flexRow--fitfhrow-catalog .stretchChildrenWidth{
    width: auto !important;
    margin: 0 10px 0px 15px;
  }
  .flexRow--videosess{
    height: 900px;
  }
} 
